<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="familiares"
        <tr>
           <b>Lista de familiares:</b>
            {% for pr_familia in familiares %}
            <p><b>Nombre:</b> {{ pr_familia.nombre }}</p>
            <p><b>Fecha de nacimiento:</b> {{ pr_familia.fecha_nac }}</p>
            <p><b>DNI:</b> {{ pr_familia.dni }}</p>
            {% endfor %}
        </tr>
    </table>
</body>
</html>